# Build artifacts
*.o
*.a
*.so
*.out
*.skel.h
*.skel.c
*.bpf.o

# Build directories
obj/
include/vmlinux.h
include/rtds.skel.h

# Logs and traces
*.log
*.trace
*.pcap

# Editor/IDE configs
.vscode/
.idea/

# System files
.DS_Store


elk-siem/.env
elk-siem/logstash/certs/*.key
elk-siem/logstash/certs/*.crt